@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
#root,
.pushable {
  height: 100vh;
  overflow: hidden;
}

.pusher > div {
  position: absolute;
  top: 47px;
  bottom: 40px;
  overflow-y: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
